.movie-rating {
    width: 36px;
    height: 36px;
    background-color: #081c22;
    border-radius: 100%;
    padding: 2px;
    position: relative;
    bottom: 25px;
    left: 10px;
    font-weight: bold;
}

.card-body {
    margin: -15px 10px 12px 10px;

}

.card-body > h2 {
    font-size: 1em;
    margin: 0;
}

h2 > a {
    font-weight: 700;
    color: #000; 
    text-decoration: none;
}

p {
    font-size: 0.8em;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,0.6);
}